header {
  background-color: dodgerblue;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  border-radius: 4px;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  background-color: deepskyblue;
  font-weight: bold;
}

button + button {
  margin-left: 8px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  padding: 32px;
  width: 300px;
  border-radius: 4px;
}

form label {
  margin: 4px 0;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 4px 8px;
  margin: 6px 0;
}

h2 {
  margin: 32px 0 24px 0;
}

.content {
  margin: 32px;
}

button.form-button {
  width: 100%;
}

.loading-icon {
  width: 16px;
  height: 16px;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}